{% extends 'base.html.twig' %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger" role="alert">Une erreur est survenue, le nom d'utilisateur ou le mot de passe
            est incorecct !
        </div>
    {% endif %}

    <form action="{{ path('login') }}" method="post">

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}">

        <label for="username">Nom d'utilisateur :</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}"/>

        <label for="password">Mot de passe :</label>
        <input type="password" id="password" name="_password"/>

        <button class="btn btn-success" type="submit">Se connecter</button>
    </form>
{% endblock %}
